<div class=" container mt-5">
  <div *ngIf="!registerMode"  style="text-align : center">
    <h2 style="font-family:'essai'">Mariage pour une vie</h2>
    <h5 style="font-family:'essai'">Vous etes sur le point de faire la rencontre de votre vie</h5>
    <div class="text-center">
      <button (click)="registerToggle()" style="font-family:'essai'"
        class="btn btn-secondary  btn-lg ">Abbone-toi
      </button>
    </div>
  </div>

  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register  (cancelRegister)="cancelRegister($event)"></app-register>
      </div>
    </div>
  </div>
</div>

